#question_formula {
  margin-left: 40px;
}
#container {
	background-color: #eee;
	width: 600px;
	height: 500px;
	margin: 0 auto;
}

#check1{
	width: 300px;
	height: 200px;
	background-color: rgb(200,200,200);
}

#check1_title{
	font-size: 20px;
	font-weight: bold;
}

#check1_contents_sentence{
	margin-left: 20px;
}

#check1_button{

	background: #aaa;
	padding: 10px;
}
#check1_button_left{
	width: 100px;
	height: 30px;
	background-color: rgb(255,0,0);
	float: left;
}

#check1_button_right{
	width: 100px;
	height: 30px;
	background-color: rgb(0,255,0);
	float: left;
}

.clearfix{
	clear: both;
}
