@charset "UTF-8";
/* リセットCSS　特に気にしなくてよい */
/*
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing=0' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全てのフォントを指定 */
* {
  font-family: 'Roboto', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Meiryo', sans-serif;
}

/* サイト全体の大きさや配置を決める */
#container {
  width: 960px;
  margin: 0 auto;
}

/* 上のメニューバーの制御 */
#menu {
  color: #1063a0;
  font-weight: bold;
}

#menu a:link {
  color: #1063a0;
  text-decoration: none;
}

#menu a:visited {
  color: #1063a0;
  text-decoration: none;
}

#menu a:hover {
  color: #1063a0;
  text-decoration: none;
}

#menu a:active {
  color: #1063a0;
  text-decoration: none;
}

#menu #space {
  float: left;
  width: 470px;
  height: 22px;
}

#menu .m_detail {
  margin-left: 30px;
  float: left;
}

#menu img {
  float: left;
  height: 22px;
}

#menu p {
  margin-top: 3px;
  float: left;
  font-size: 17px;
}

/* ヘッダーのスタイル制御 */
#header {
  background-color: #000050;
}

#header a:link {
  color: white;
  text-decoration: none;
}

#header a:visited {
  color: white;
  text-decoration: none;
}

#header a:hover {
  color: white;
  text-decoration: none;
}

#header a:active {
  color: white;
  text-decoration: none;
}

#header #header_title {
  font-weight: bold;
  color: white;
}

/* メインコンテンツのスタイル制御 */
#main {
  /* スライドの背景 */
  /* スライドのスタイル制御 */
  /* 問題一つをくくる */
  /* スライドindexページ */
  /* タイトルのスタイルを指定 */
  /* 問題の中身(コンテンツ)の配置 */
  /*
	.symbol{
		margin: 0 2px;
		padding: 1px;
		border: solid 2px;
		background-color: rgb(255,255,255);
	}
*/
  /* 複数選択肢スタイル指定 */
  /* 選択肢タイトルのスタイル指定 */
  /* 選択肢全体を囲む(決定ボタン含む) */
  /* 選択肢全体を囲む(決定ボタン含まない) */
  /* ラベル選択肢の各要素 */
  /* ドロップダウンリストのスタイル指定 */
  /* 入力フォームのスタイル指定 */
  /* 決定ボタン */
  /* ボタンのスタイル制御 */
}

#main .section {
  background-image: url(../images/bg.png);
  background-size: cover;
}

#main .panel {
  background-color: rgba(255, 255, 255, 0.8);
  height: 500px;
  width: 740px;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 100, 0.5);
  overflow-y: scroll;
}

#main .box {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  background-color: rgba(0, 0, 100, 0.1);
  margin-bottom: 20px;
}

#main #preface #preface_button {
  margin: 30px 0 10px 150px;
}

#main .Title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#main .contents {
  margin: 0 0 15px 20px;
  font-size: 17px;
}

#main .question_button {
  width: 120px;
  margin-bottom: 20px;
}

#main .choices_title {
  margin-bottom: 10px;
}

#main .selection {
  margin: 0 0 10px 40px;
}

#main .selectbox {
  margin: 0 0 20px 40px;
}

#main .select_button {
  margin-right: 20px;
}

#main select {
  margin-right: 30px;
}

#main input[type="text"] {
  width: 40px;
  padding: 5px;
  margin-right: 20px;
}

#main .confirm_button {
  margin: 0 0 10px 20px;
}

#main .button {
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 500;
  color: #323232;
  /*
		border-top: ridge 2px rgb(200,240,240);
		border-right: ridge 2px rgb(180,240,240);
		border-bottom: ridge 2px rgb(180,240,240);
		border-left: ridge 2px rgb(200,240,240);
		*/
  border: outset;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c8f0f0), to(#a0c8c8));
}

#main .final_link {
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
}

#main .final_link a:link {
  color: #000064;
  text-decoration: none;
}

#main .final_link a:visited {
  color: #000064;
  text-decoration: none;
}

#main .final_link a:hover {
  color: #000064;
  text-decoration: none;
}

#main .final_link a:active {
  color: #000064;
  text-decoration: none;
}

#main .final_link #final_link_arrow {
  margin-right: 8px;
}

/* go to current page　ボタンの制御 */
#go_to_page {
  z-index: 200;
  position: fixed;
  top: 85%;
  margin-left: 600px;
}

#prev_button {
  z-index: 300;
  position: fixed;
  top: 85%;
  margin-left: 10px;
  float: left;
}

#next_button {
  z-index: 300;
  position: fixed;
  top: 85%;
  margin-left: 870px;
  float: right;
}

#prev_button_over {
  z-index: 350;
  position: fixed;
  top: 85%;
  margin-left: 10px;
  float: left;
}

#next_button_over {
  z-index: 350;
  position: fixed;
  top: 85%;
  margin-left: 870px;
  float: right;
}

#prev_button_gray {
  z-index: 400;
  position: fixed;
  top: 85%;
  margin-left: 10px;
  float: left;
}

#next_button_gray {
  z-index: 400;
  position: fixed;
  top: 85%;
  margin-left: 870px;
  float: right;
}

/* フッターのスタイル制御 */
#footer {
  background-color: #000050;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

/* 分からないボタンの配置 */
.unclear {
  margin-left: 15px;
}

/* 横並びにする */
.floatleft {
  float: left;
}

/* clearfix */
.clearfix {
  clear: both;
}

/* 初期状態非表示 */
.hidden {
  display: none;
}
