@charset "UTF-8";
/* ヘッダー */
#header #header_logo {
  margin-left: 50px;
}

#header #header_title {
  font-size: 60px;
  margin: 15px 0 0 80px;
}

#header #header_character {
  height: 88px;
  margin-left: 170px;
}

/* メイン */
#main {
  clear: both;
  width: 800px;
  margin: 20px auto;
}

#main #about #about_title {
  font-size: 30px;
  background-color: rgba(0, 0, 80, 0.7);
  color: #fff;
  padding: 7px 0 7px 15px;
  border: 3px rgba(0, 0, 80, 0.7);
}

#main #about #about_contents {
  border: solid 3px rgba(0, 0, 80, 0.7);
  padding: 10px 0 10px 25px;
}

#main #about #about_contents #about_contents_sentence {
  font-size: 18px;
  margin-bottom: 18px;
}

#main #about #about_contents #about_contens_changepage #about_contents_changepage_arraw {
  margin-left: 14px;
}

#main #about #about_contents #about_contens_changepage #about_contents_changepage_link {
  margin: 10px;
}

#main #about #about_contents #about_contens_changepage #about_contents_changepage_link #about_contents_changepage_link_text {
  font-size: 24px;
  color: #1063a0;
}
