/* ヘッダー */
#header{
	position: fixed;
	width: 960px;
	z-index: 10;

	#header_logo{
		margin-left: 330px;
	}

	#header_title{
		margin-left: 18px;
		font-size: 30px;
	}
}

/* メインコンテンツ */
#main{

	#check1{
		#check1_supplementation{

			#check1_supplementation_figure{
				margin-top: 20px 0;

				#check1_supplementation_figure1{
					margin-right: 20px;

					#check1_supplementation_figure1_sentence{
						margin:0 0 10px;
					}
				}

				#check1_supplementation_figure2{
					margin-right: 20px;

					#check1_supplementation_figure2_sentence{
						margin:0 0 10px;
					}
				}

				#check1_supplementation_figure3{
					#check1_supplementation_figure3_sentence{
						margin:0 0 10px;
					}
				}
			}


		}
	}

	#check2{
		#check2_main{
			#check2_main_choices{
				#choices_a{
					margin-right: 25px;
				}

				#choices_b{
					margin-right: 25px;
				}

				#choices_c{
					margin-right: 25px;
				}
			}

			#check2_main_select{
				.check2_main_select_item{
					margin-right: 30px;
				}
			}
		}
	}

	#check3{
		#check3_supplementation{
			#check3_supplementation1{
				#check3_supplementation1_sentence{
					#check3_supplementation1_formula1{
						margin-bottom: 20px;
					}

					#check3_supplementation1_formula2{
						margin-bottom: 10px;
					}
				}
			}

			#check3_supplementation2{
				#check3_supplementation2_sentence{
					#check3_supplementation2_sentence1{
						margin-bottom: 20px;
					}
					#check3_supplementation2_sentence2{
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	#question1{
		#question1_main{
			#question1_main_choices{
				#question1_main_choices1{
					margin-left: 20px;
					height: 44px;
					padding-top: 12px;
				}

				#question1_main_choices2{
					height: 44px;
					padding-top: 12px;
				}

				#question1_main_choices4{
					margin-left: 20px;
					margin-bottom: 0;
					height: 44px;
					padding-top: 12px;
				}

				#question1_main_choices5{
					margin-bottom: 0;
				}

				#question1_main_choices6{
					margin-bottom: 0;
				}

				#question1_main_choices7{
					margin-bottom: 0;
				}
			}
		}
	}

	#question2{
		#question2_main{
			#question2_main_formula{
				margin-left: 40px;
				margin-bottom: 40px;
			}

			#question2_main_choices{
				#question2_main_choices1{
					padding-top: 12px;
					height: 44px;
				}

				#question2_main_choices2{
					padding-top: 12px;
					height: 44px;
				}

				#question2_main_choices3{
					padding-top: 12px;
					height: 44px;
				}

				#question2_main_choices4{
					padding-top: 12px;
					height: 44px;
				}

				#question2_main_choices6{
					height: 54px;
					padding-top: 7px;
				}

				#question2_main_choices7{
					height: 54px;
					padding-top: 13px;
				}

				.question2_button{
					width: 240px;
				}
			}
		}
	}
}


/* フッター */
#footer{
	top: 95%;
	z-index: 14;
	position: fixed;
	width: 960px;
}
