/* ヘッダー */
#header{
	position: fixed;
	width: 960px;
	z-index: 10;

	#header_logo{
		margin-left: 330px;
	}

	#header_title{
		margin-left: 20px;
		font-size: 30px;
	}
}

/* メインコンテンツ */
#main{
	#check1{
		/* チェック１の補足の配置 */
		#check1_supplementation{
			/* チェック１　補足１ */
			#check1_supplementation1{
				width: 250px;
				float: left;
			}

			/* チェック１　補足１の補足 */
			#check1_supplementation1_1{
				width: 380px;
				float: right;

				#check1_supplementation1_1_sentence{
					margin: 10px 0 20px 20px;
				}

				#check1_supplementation1_1_button_submit{
					margin: 3px 0 20px 40px;
				}

				#check1_supplementation1_1_image{
					margin: 0 0 10px 40px;
				}
			}

			/* チェック１　補足２ */
			#check1_supplementation2{
				width: 250px;
				float: left;
			}

			/* チェック１　補足２の補足 */
			#check1_supplementation2_1{
				width: 380px;
				float: right;

				#check1_supplementation2_1_sentence2{
					margin-bottom: 50px;
				}
			}
		}

	}

	#check2_1{
		#check2_1_1_main{
			#check2_1_1_main_formula{
				margin-top: 40px;
				margin-bottom: 20px;
				margin-left: 40px;
			}

			#check2_1_1_main_choices{
				#choices_a{
					margin-left: 20px;

				}
				#choices_c{
					height: 44px;
					padding-top: 2px;
				}

				#choices_d{
					height: 44px;
					padding-top: 12px;
				}
			}

			#check2_1_1_main_button{
				#checkTest2_1_1_main_a{
					margin-right: 20px;
				}
			}
		}

		#check2_1_2_main{
			#check2_1_2_main_formula{
				margin-left: 40px;
			}

			#check2_1_2_main_choices{
				#choices_a{
					margin-left: 20px;
				}

				#choices_b{
					height: 46px;
					padding-top: 1px;
				}

				#choices_c{
					height: 46px;
					padding-top: 13px;
				}
			}

			#check2_1_2_main_button{
				#checkTest2_1_2_main_a{
					margin-right: 20px;
				}

				#checkTest2_1_2_main_i{
					margin-right: 20px;
				}

			}
		}
	}

}

/* フッター */
#footer{
	top: 95%;
	z-index: 14;
	position: fixed;
	width: 960px;
}
