/* ヘッダー */
#header{
	position: fixed;
	width: 960px;
	z-index: 10;

	#header_logo{
		margin-left: 330px;
	}

	#header_title{
		margin-left: 20px;
		font-size: 30px;
	}
}

/* メインコンテンツ */
#main{
	#check2_1{
		#check2_1_supplementation1{
			#check2_1_supplementation1_left{
			}

			#check2_1_supplementation1_right{
				margin-left: 70px;

				#check2_1_supplementation1_button{
					margin-top: 200px;

					#check2_1_supplementation1_button_sentence{
						margin-left: 20px;
					}
				}
			}
		}
	}

	#check2-2{
		#check2_2_supplementation{
			#check2_2_supplementation4{
				#check2_1_supplementation1_left{
				}

				#check2_1_supplementation1_right{
					margin-left: 40px;

					#check2_2_supplementation4_button{
						margin-top: 200px;
					}
				}
			}

			#check2_2_supplementation6{
				#check2_1_supplementation1_right{
					margin-left: 40px;

					#check2_2_supplementation6_button{
						margin-top: 200px;
					}
				}
			}
		}
	}

	#question1{
		#question1_main{
			#question1_main_formula{
				margin-top: 40px;
				margin-bottom: 20px;
				margin-left: 20px;
			}

			#question1_main_choices{
				#question1_main_choices1{
					margin-left: 20px;
				}

				#question1_main_choices2{
					padding-top: 2px;
				}

				#question1_main_choices3{
					padding-top: 1px;
				}

				#question1_main_choices4{
					padding-top: 2px;
				}

				#question1_main_choices6{
					margin-left: 20px;
					height: 44px;
					padding-top: 12px;
					margin-bottom: 0;
				}

				#question1_main_choices7{
					margin-bottom: 0;
				}

				#question1_main_choices8{
					height: 44px;
					padding-top: 12px;
					margin-bottom: 0;
				}

				#question1_main_choices9{
					height: 44px;
					padding-top: 12px;
					margin-bottom: 0;
				}

				#question1_main_choices10{
					margin-bottom: 0;
				}

			}

			#question1_main_select{
				margin-left: 0;
			}
		}
	}

	#question2{
		#question2_main_formula{
			margin-top: 40px;
			margin-bottom: 20px;
			margin-left: 20px;
		}

		#question2_main_choices{
			#question2_main_choices1{
				height: 44px;
				padding-top: 12px;
				margin-left: 20px;
			}

			#question2_main_choices4{
				height: 44px;
				padding-top: 12px;
			}

		}
	}

	}

/* フッター */
#footer{
	top: 95%;
	z-index: 14;
	position: fixed;
	width: 960px;
}
