/* ヘッダー */
#header{
	#header_logo{
		margin-left: 50px;
	}

	#header_title{
		font-size: 60px;
		margin: 15px 0 0 80px;
	}

	#header_character{
		height:88px;
		margin-left: 170px;
	}
}

/* メインコンテンツ */
#main{
	a:link { color:rgb(0,0,0); text-decoration:none }
	a:visited { color:rgb(0,0,0); text-decoration:none }
	a:hover { color:rgb(0,0,0); text-decoration:none }
	a:active { color:rgb(0,0,0); text-decoration:none }

	#select_sentence{
		margin: 30px;
		margin-bottom: 40px;
		font-size: 25px;
	}

	#question_select{
		height: auto;
		margin: 30px;
		font-size: 24px;

		#question_select_q1{
			margin-right: 60px;
		}

		#question_select_q2{
			margin-right: 60px;
		}
	}
}
