/* リセットCSS　特に気にしなくてよい */
/*
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing=0' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全てのフォントを指定 */
*{
	font-family: 'ヒラギノ角ゴ Prp W3';
}

/* サイト全体の大きさや配置を決める */
#container{
	width: 960px;
	margin: 0 auto;
}

/* 上のメニューバーの制御 */
#menu{
	color: #1063a0;
	font-weight: bold;

	a:link { color:#1063a0; text-decoration:none }
	a:visited { color:#1063a0; text-decoration:none }
	a:hover { color:#1063a0; text-decoration:none }
	a:active { color:#1063a0; text-decoration:none }
	#space{
		float: left;
		width:470px;
		height: 22px;
	}
	.m_detail{
		margin-left: 30px;
		float: left;
	}
	img{
		float: left;
		height: 22px;
	}
	p{
		margin-top: 3px;
		float: left;
		font-size: 17px;
	}
}

#header{
	background-color: rgb(0,0,100);
	a:link { color:rgb(255,255,255); text-decoration:none }
	a:visited { color:rgb(255,255,255); text-decoration:none }
	a:hover { color:rgb(255,255,255); text-decoration:none }
	a:active { color:rgb(255,255,255); text-decoration:none }


	#header_logo{
		margin-left: 50px;
	}
	#header_title{
		font-size: 65px;
		font-weight: bold;
		color: rgb(255,255,255);
		margin: 15px 0 0 80px;
	}
	#header_character{
		height:88px;
		margin-left: 170px;
	}
}


/* フッター */
#footer{
	width: auto;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	background-color: rgb(0,0,100);
	color: rgb(255,255,255);
}

/* 横並びにする */
.floatleft{
	float: left;
}

/* clearfix */
.clearfix{
	clear: both;
}

/* 初期状態非表示 */
.hidden{
	display: none;
}
