#main {
  clear: both;
  width: 800px;
  margin: 20px auto;
}

#main #about #about_title {
  font-size: 30px;
  background-color: #1063a0;
  color: #fff;
  padding: 7px 0 7px 15px;
  border: solid 3px #1063a0;
}

#main #about #about_contents {
  border: solid 3px #1063a0;
  padding: 10px 0 10px 25px;
}

#main #about #about_contents #about_contents_sentence {
  font-size: 18px;
  margin-bottom: 18px;
}

#main #about #about_contents #about_contens_changepage #about_contents_changepage_arraw {
  margin-left: 14px;
}

#main #about #about_contents #about_contens_changepage #about_contents_changepage_link {
  margin: 10px;
}

#main #about #about_contents #about_contens_changepage #about_contents_changepage_link #about_contents_changepage_link_text {
  font-size: 24px;
  color: #1063a0;
}
