#main{
	margin: 20px auto;
	width: 900px;

	#check1{
		padding: 20px;
		height: auto;
		background-color: rgb(200, 238, 0);
		margin: 20px auto;

		#check1_main{
			width: 350px;
			margin: 10px;
			padding: 10px;
			float: left;
			background-color: rgb(200, 238, 244);
		}
		#check1_supplementation{
			width: 350px;
			background-color: rgb(200, 238, 244);
			padding: 10px;
			margin: 10px;
			float: left;
		}
	}

	#check2{
		padding: 20px;
		height: auto;
		background-color: rgb(200, 238, 0);
		margin: 20px auto;

		#check2_main{
			width: 350px;
			margin: 10px;
			padding: 10px;
			float: left;
			background-color: rgb(200, 238, 244);
		}
		#check2_supplementation{
			width: 350px;
			background-color: rgb(200, 238, 244);
			padding: 10px;
			margin: 10px;
			float: left;
		}
	}


	#check3{
		padding: 20px;
		height: auto;
		background-color: rgb(200, 238, 0);
		margin: 20px auto;

		#check3_main{
			width: 350px;
			margin: 10px;
			padding: 10px;
			float: left;
			background-color: rgb(200, 238, 244);
		}
		#check3_supplementation{
			width: 350px;
			background-color: rgb(200, 238, 244);
			padding: 10px;
			margin: 10px;
			float: left;
		}
	}

	#check4{
		padding: 20px;
		height: auto;
		background-color: rgb(200, 238, 0);
		margin: 20px auto;

		#check4_main{
			width: 350px;
			margin: 10px;
			padding: 10px;
			float: left;
			background-color: rgb(200, 238, 244);
		}
		#check4_hint{
			width: 350px;
			background-color: rgb(200, 238, 244);
			padding: 10px;
			margin: 10px;
			float: left;
		}
	}
}
