#question_select{
	height: auto;
	margin: 30px;

	#question_select_q1{
		img{
			margin-top: 10px;
			height: 45px;
		}
	}
	#question_select_q2{
		img{
			margin-top: 7px;
			margin-left: 50px;
			height: 60px;
		}
	}
	#question_select_q3{
		img{
			margin-left: 50px;
			height: 60px;
		}
	}

}
