#main {
  margin: 20px auto;
  width: 900px;
}

#main #check1 {
  padding: 20px;
  height: auto;
  background-color: #c8ee00;
  margin: 20px auto;
}

#main #check1 #check1_main {
  width: 350px;
  margin: 10px;
  padding: 10px;
  float: left;
  background-color: #c8eef4;
}

#main #check1 #check1_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  margin: 10px;
  float: left;
}

#main #check2 {
  padding: 20px;
  height: auto;
  background-color: #c8ee00;
  margin: 20px auto;
}

#main #check2 #check2_main {
  width: 350px;
  margin: 10px;
  padding: 10px;
  float: left;
  background-color: #c8eef4;
}

#main #check2 #check2_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  margin: 10px;
  float: left;
}

#main #check3 {
  padding: 20px;
  height: auto;
  background-color: #c8ee00;
  margin: 20px auto;
}

#main #check3 #check3_main {
  width: 350px;
  margin: 10px;
  padding: 10px;
  float: left;
  background-color: #c8eef4;
}

#main #check3 #check3_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  margin: 10px;
  float: left;
}

#main #check4 {
  padding: 20px;
  height: auto;
  background-color: #c8ee00;
  margin: 20px auto;
}

#main #check4 #check4_main {
  width: 350px;
  margin: 10px;
  padding: 10px;
  float: left;
  background-color: #c8eef4;
}

#main #check4 #check4_hint {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  margin: 10px;
  float: left;
}
