#container {
  width: 1000px;
  margin: 0 auto;
}

#container #main {
  width: 950px;
  background-color: white;
}

#container #main #description {
  padding: 10px;
}

#container #main #check #check1 {
  margin: 20px;
  height: auto;
}

#container #main #check #check1 #check1_main {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: left;
}

#container #main #check #check1 #check1_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: right;
}

#container #main #check #check2 {
  margin: 20px;
  height: auto;
}

#container #main #check #check2 #check2_main {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: left;
}

#container #main #check #check2 #check2_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: right;
}

#container #main #check #check3 {
  margin: 20px;
  height: auto;
}

#container #main #check #check3 #check3_main {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: left;
}

#container #main #check #check3 #check3_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: right;
}

#container #main #check #check4 {
  margin: 20px;
  height: auto;
}

#container #main #check #check4 #check4_main {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: left;
}

#container #main #check #check4 #check4_supplementation {
  width: 350px;
  background-color: #c8eef4;
  padding: 10px;
  float: right;
}

.hide {
  display: none;
}
