
#container{
  width: 1000px;
  //background-color: rgb(240,240,240);
  margin: 0 auto;

  #main{
    width: 950px;
    background-color: rgb(255,255,255);

    #description{
      //background-color: rgb(200, 238, 244);
      padding: 10px;
    }

    #check{

      #check1{
        margin: 20px;
        height: auto;

        #check1_main{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: left;
        }
        #check1_supplementation{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: right;
        }
      }

      #check2{
        margin: 20px;
        height: auto;

        #check2_main{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: left;
        }
        #check2_supplementation{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: right;
        }
      }

      #check3{
        margin: 20px;
        height: auto;

        #check3_main{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: left;
        }
        #check3_supplementation{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: right;
        }
      }

      #check4{
        margin: 20px;
        height: auto;

        #check4_main{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: left;
        }
        #check4_supplementation{
          width: 350px;
          background-color: rgb(200, 238, 244);
          padding: 10px;
          float: right;
        }
      }

    }
  }
}

.hide{
	display: none;
}
