*{
  font-family: Meiryo, 'メイリオ', sans-serif;
}

#container{
  width: 600px;
  height: 500px;
  background-color: #eee;
  margin: 0 auto;

  #check1{
    width: 300px;
    height: 200px;
    background-color: #ddd;

    #check1_title{
      font-weight: bold;
      font-size: 20px
    }

    #check1_contents{
      margin-left: 15px;
    }

    #check1_button{
      padding: 10px;
      background: #aaa;

      #check1_button_left{
        width: 100px;
        height: 30px;
        background-color: rgb(255,0,0);
        float: left;
      }

      #check1_button_right{
        width: 100px;
        height: 30px;
        background-color: rgb(0,255,0);
        float: right;
      }

    }
  }

  #check2{
    width: 300px;
    height: 200px;
    background-color: #ddd;

    #check2_title{
      font-weight: bold;
      font-size: 20px
    }

    #check2_contents{
      margin-left: 15px;
    }

    #check2_button{
      padding: 10px;
      background: #aaa;

      #check2_button_left{
        width: 100px;
        height: 30px;
        background-color: rgb(255,0,0);
        float: left;
      }

      #check2_button_right{
        width: 100px;
        height: 30px;
        background-color: rgb(0,255,0);
        float: right;
      }

    }
  }
}

.clearfix{
  clear: both;
}
