@charset "UTF-8";
* {
  font-family: Meiryo, 'メイリオ', sans-serif;
}

#container {
  width: 600px;
  height: 500px;
  background-color: #eee;
  margin: 0 auto;
}

#container #check1 {
  width: 300px;
  height: 200px;
  background-color: #ddd;
}

#container #check1 #check1_title {
  font-weight: bold;
  font-size: 20px;
}

#container #check1 #check1_contents {
  margin-left: 15px;
}

#container #check1 #check1_button {
  padding: 10px;
  background: #aaa;
}

#container #check1 #check1_button #check1_button_left {
  width: 100px;
  height: 30px;
  background-color: red;
  float: left;
}

#container #check1 #check1_button #check1_button_right {
  width: 100px;
  height: 30px;
  background-color: lime;
  float: right;
}

#container #check2 {
  width: 300px;
  height: 200px;
  background-color: #ddd;
}

#container #check2 #check2_title {
  font-weight: bold;
  font-size: 20px;
}

#container #check2 #check2_contents {
  margin-left: 15px;
}

#container #check2 #check2_button {
  padding: 10px;
  background: #aaa;
}

#container #check2 #check2_button #check2_button_left {
  width: 100px;
  height: 30px;
  background-color: red;
  float: left;
}

#container #check2 #check2_button #check2_button_right {
  width: 100px;
  height: 30px;
  background-color: lime;
  float: right;
}

.clearfix {
  clear: both;
}
