#fixed{
	#fixed_header{
		z-index: 20;
		top: 0;
		position: fixed;
		margin: 10px 30px;
	}
	#fixed_footer{
		z-index: 20;
		position: fixed;
		bottom: 0;
		right: 0;
	}
}

.fixed_header_button{
	width: 100px;
	text-align: center;
	background-color:rgba(255, 255, 255, 0.5) ;
	padding: 5px;
	border-radius: 5px;
	margin-right: 30px;
}

.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.clearfix{
	clear: both;
}

*{
	color: white;
}

#fullpage{
	z-index: 10;

	.page_width{
		width: 960px;
		margin: 0 auto;
	}

	#top{
		background-color: rgb(0,0,70);

		#top_margin{
			margin-top: 70px;
		}

		#top_title{
			font-size: 50px;
			margin-bottom: 40px;
		}

		#top_left{
			float: left;
			width: 600px;

			#top_intro{
				margin-bottom: 20px;
				font-size: 20px;
				line-height: 30px;
			}

			#top_GoToNext_HowToUse{
				margin-left: 50px;
			}

			#top_GoTo2015{
				width: 280px;
				margin: 30px auto 0;
			}
		}

		#top_right{
			float: right;
			width: 310px;
			margin-bottom: 50px;
		}
	}

	#question{
		background-color: rgb(0,0,70);
	}

	#question_select{
		#question_select_intro{
			font-size: 30px;
			margin-bottom: 100px;
		}

		.question_select_intro_sentence{
			margin-bottom: 30px;
		}

		#question_select_list{
			font-size: 31px;
			margin-bottom: 300px;
			#question1{
				margin-right: 47px;
			}

			#question2{
				margin-right: 47px;
			}
		}
	}

	#HowToUse{
		background-color: rgb(0,0,70);

		#HowToUse_height{
			padding-top: 40px;
		}

		.use_title{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		.use_contents{
			margin-left: 30px;
		}

		.Using{
			margin-bottom: 30px;
		}

		#use_style{
			.use_top_title_sub{
				font-size: 18px;
			}
			#use_radio{
				width: 450px;
				float: left;
				.use_top_title_sub{
					width: 110px;
					margin-left: 10px;
				}
				.use_top_sentence{
					width: 310px;
				}
			}
			#use_checkbox{
				width: 490px;
				float: right;
				.use_top_title_sub{
					width: 140px;
				}
				.use_top_sentence{
					width: 340px;
				}
			}
			#use_pulldown{
				width: 450px;
				float: left;
				.use_top_title_sub{
					width: 110px;
					margin-left: 10px;
				}
				.use_top_sentence{
					width: 310px;
				}
			}
			#use_textbox{
				width: 490px;
				float: right;
				.use_top_title_sub{
					width: 140px;
				}
				.use_top_sentence{
					width: 340px;
				}
			}
		}

		#use_subintro{
			#use_subintro_gotopage{
				width: 460px;
				#use_subintro_gotopage_img{
					margin-top: 20px;
					width: 170px;
				}
				#use_subintro_gotopage_text{
					width: 280px;
				}
			}
			#use_subintro_TF{
				width: 400px;
			}
		}

		#HowToUse_GoTo_question_select{
			width: 90px;
			top: 95%;
			margin: 40px auto 0;
		}
	}
}
