<!--チェックテスト◯-->
<div class="slide" data-anchor="slide☆">
  <div class="panel">

    <!--チェックテスト◯の問題部分-->
    <div id="check◯">

      <!-- メイン問題 -->
      <div id="check◯_main" class="box">  <!-- class="box" -> 問題をひとまとまりにする -->

        <!-- タイトル -->
        <div id="check◯_main_title" class="Title">チェックテスト◯</div>  <!-- class="Title" -> タイトルのスタイル制御 -->

        <!-- 文章 -->
        <div id="check◯_main_sentence" class="contents">  <!-- class="contents" -> 中身のスタイル制御：主に配置 -->
          文章
        </div>

        <!-- 式 -->
        <div id="check◯_main_formula" class="contents">  <!-- class="contents" -> 中身のスタイル制御：主に配置 -->
          式
        </div>

        <!-- 図(グラフ) -->
        <div id="check◯_main_figure" class="contents">  <!-- class="contents" -> 中身のスタイル制御：主に配置 -->
          <div id="check◯_main_figure1">
            <img src="../images/◯.png" style="width:200px;">
          </div>
          <div id="check◯_main_figure2">
            <img src="../images/◯.png" style="width:200px;">
          </div>
        </div>

        <!-- 選択肢 -->
        <div id="check◯_main_choices" class="contents">
          <div id="check◯_main_choices_title">選択肢</div>
          <div id="check◯_main_choices1" class="floatleft">選択肢1</div>
          <div id="check◯_main_choices2" class="floatleft">選択肢2</div>
          <div id="check◯_main_choices3" class="floatleft">選択肢3</div>
          <div id="check◯_main_choices4" class="floatleft">選択肢4</div>
          <div class="clearfix"></div>
        </div>

        <!-- formタグ --> <!-- 記入 -->
        <div id="check◯_main_select" class="selection">  <!-- class="selection" -> 入力対象のスタイル制御 -->
          <form name="checkTest◯_main">

            <!-- ラジオボタン --> <!-- inputタグのnameは名前を統一する -->
            <div class="selectbox">
              <label class="select_button"><input type="radio" id="check◯_main_select1" name="check◯_main" value="graph1">選択肢1</label>
              <label class="select_button"><input type="radio" id="check◯_main_select2" name="check◯_main" value="graph2">選択肢2</label>
              <label class="select_button"><input type="radio" id="check◯_main_select3" name="check◯_main" value="graph3">選択肢3</label>
              <label class="select_button"><input type="radio" id="check◯_main_select4" name="check◯_main" value="graph4">選択肢4</label>
            </div>
            <div class="confirm_button">
              <input type="button" id="check◯_main_submit" class="button" value="◯" onclick=""> <!-- class="button" -> ボタンのスタイル制御 -->
            </div>

            <!-- チェックボックス --> <!-- inputタグのnameは名前を統一する -->
            <div class="selectbox">
              <label class="select_button"><input type="checkbox" id="check1_main_select1" class="select_button" name="check1_main" value="1">選択肢1</label>
              <label class="select_button"><input type="checkbox" id="check1_main_select2" class="select_button" name="check1_main" value="2">選択肢2</label>
              <label class="select_button"><input type="checkbox" id="check1_main_select3" class="select_button" name="check1_main" value="3">選択肢3</label>
              <label class="select_button"><input type="checkbox" id="check1_main_select4" class="select_button" name="check1_main" value="4">選択肢4</label>
            </div>
            <div class="confirm_button">
              <input type="button" id="check◯_main_submit" class="button" value="◯" onclick="">
            </div>

            <!-- テキストボックス --> <!-- inputタグのnameは名前を変える -->
            <div class="selectbox">
              ア:<input type="text" id="check◯_main_a" name="check◯_main_ans1">
              イ:<input type="text" id="check◯_main_i" name="check◯_main_ans2">
            </div>
            <div class="confirm_button">
              <input type="button" id="check◯_main_submit" class="button" name="check◯_main" value="確定" onclick="">
            </div>

          </form>
        </div><!-- formタグ　line35:id=check◯_main_select -->
      </div><!-- メイン問題 line9:id=check◯_main -->



      <!-- 補足 -->
      <div id="check◯_supplementation" class="hidden box">

        <!-- タイトル -->
        <div id="check◯_supplementation_title" class="Title">補足</div>

        <!-- 文章 -->
        <div id="check◯_supplementation_sentence" class="contents">
          文章
        </div>

        <!-- 式 -->
        <div id="check◯_supplementation_formula" class="contents">
          式
        </div>

        <!-- 図(グラフ) -->
        <div id="check◯_supplementation_figure" class="contents">
          <div id="check◯_supplementation_figure1">
            <img src="../images/◯.png" style="width:200px;">
          </div>
          <div id="check◯_supplementation_figure2">
            <img src="../images/◯.png" style="width:200px;">
          </div>
        </div>

        <!-- formタグ -->
        <div id="check◯_supplementation_select" class="selection">
          <form name="checkTest◯_supplementation">

            <!-- ラジオボタン --> <!-- inputタグのnameは名前を統一する -->
            <label class="select_button"><input type="radio" id="check◯_supplementation_select1" name="check◯_supplementation" value="graph1">選択肢1</label>
            <label class="select_button"><input type="radio" id="check◯_supplementation_select2" name="check◯_supplementation" value="graph2">選択肢2</label>
            <label class="select_button"><input type="radio" id="check◯_supplementation_select3" name="check◯_supplementation" value="graph3">選択肢3</label>
            <label class="select_button"><input type="radio" id="check◯_supplementation_select4" name="check◯_supplementation" value="graph4">選択肢4</label>
            <input type="button" id="check◯_supplementation_submit" class="button" value="◯" onclick="">

            <!-- チェックボックス --> <!-- inputタグのnameは名前を統一する -->
            <label class="select_button"><input type="checkbox" id="check1_supplementation_select1" class="select_button" name="check1_supplementation" value="1">選択肢1</label>
            <label class="select_button"><input type="checkbox" id="check1_supplementation_select2" class="select_button" name="check1_supplementation" value="2">選択肢2</label>
            <label class="select_button"><input type="checkbox" id="check1_supplementation_select3" class="select_button" name="check1_supplementation" value="3">選択肢3</label>
            <label class="select_button"><input type="checkbox" id="check1_supplementation_select4" class="select_button" name="check1_supplementation" value="4">選択肢4</label>
            <input type="button" id="check◯_main_submit" class="button" value="◯" onclick="">

            <!-- テキストボックス --> <!-- inputタグのnameは名前を変える -->
            ア:<input type="text" id="check◯_supplementation_a" name="check◯_supplementation_ans1">
            イ:<input type="text" id="check◯_supplementation_i" name="check◯_supplementation_ans2">
            <input type="button" id="check◯_supplementation_submit" class="button" name="check◯_supplementation" value="確定" onclick="">

            <!-- 分かったボタンオンリー -->
            <input type="button" id="check◯_supplementation_submit" class="button" value="わかった" onclick="">

          </form>
        </div><!-- formタグ　line91:id=check◯_supplementation_select -->
      </div><!-- 補足 line64:id=check◯_supplementation -->


    </div><!-- チェックテスト◯の問題部分　line6:id=check◯ -->
  </div><!-- 3:id=panel -->
</div><!-- 2:id=slide☆ -->
