@charset "UTF-8";
/* リセットCSS　特に気にしなくてよい */
/*
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing=0' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全てのフォントを指定 */
* {
  font-family: 'Roboto', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Meiryo', sans-serif;
  font-size: 16px;
}

/* サイト全体の大きさや配置を決める */
#container {
  width: 960px;
  margin: 0 auto;
}

/* ヘッダーのスタイル制御 */
#header {
  background-color: #000050;
}

#header a:link {
  color: white;
  text-decoration: none;
}

#header a:visited {
  color: white;
  text-decoration: none;
}

#header a:hover {
  color: white;
  text-decoration: none;
}

#header a:active {
  color: white;
  text-decoration: none;
}

#header #header_title {
  font-weight: bold;
  color: white;
}

/* メインコンテンツのスタイル制御 */
#main {
  /* スライドの背景 */
  /* スライドのスタイル制御 */
  /* 問題一つをくくる */
  /* タイトルのスタイルを指定 */
  /* 問題の中身(コンテンツ)の配置 */
  /* 式の余白 */
  /* 送信ボタンが関係するものの配置 */
  /* 選択肢タイトルのスタイル指定 */
  /* ドロップダウンリストのスタイル指定 */
  /* 入力フォームのスタイル指定 */
  /* ボタンのスタイル制御 */
  /* 問題外タイトル */
  /* 問題外文章 */
  /* 最後のねぎらい */
  /* 問題外ボタン */
  /* 問題選択ページへ */
}

#main .section {
  background-image: url(../images/bg.png);
  background-size: cover;
}

#main .panel {
  background-color: rgba(255, 255, 255, 0.8);
  height: 500px;
  width: 740px;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 100, 0.5);
  overflow-y: scroll;
}

#main .box {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 100, 0.1);
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 50, 0.2);
}

#main .Title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#main .contents {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  /* 複数選択肢タイトル */
}

#main .contents .choices_title {
  margin-top: 35px;
}

#main .contents .choices_all {
  margin-left: 20px;
}

#main .contents .choices_all .question_button {
  width: 120px;
}

#main .contents .graph {
  margin-right: 20px;
}

#main .contents .graph img {
  margin-top: 5px;
}

#main .formula {
  margin-left: 40px;
}

#main .form {
  margin-left: 20px;
}

#main .form .selectbox {
  margin-bottom: 20px;
}

#main .form .selectbox .graph_buttom {
  margin-bottom: 30px;
}

#main .form .selectbox .select_button {
  margin-left: 20px;
}

#main .form .button_graph {
  margin-left: 10px;
  margin-right: 10px;
}

#main .choices_title {
  margin-bottom: 15px;
}

#main select {
  margin-right: 30px;
  font-size: 16px;
  padding: 3px;
}

#main input[type="text"] {
  width: 40px;
  padding: 5px;
  margin-right: 20px;
}

#main .button {
  margin: 0 20px 10px 0;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 500;
  color: #323232;
  border: outset;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c8f0f0), to(#a0c8c8));
}

#main .intro_title {
  margin: 30px 0 0 20px;
  font-size: 40px;
}

#main .intro_sentence {
  margin: 100px 0 0 80px;
  font-size: 25px;
}

#main .intro_final {
  margin: 150px 0 0 80px;
  font-size: 50px;
}

#main .intro_button {
  margin: 40px 0 0 90px;
}

#main .intro_button .intro_Button {
  font-size: 30px;
}

#main .intro_link {
  margin: 100px 0 0 180px;
  font-size: 35px;
  font-weight: bold;
}

#main .intro_link a:link {
  color: #000064;
  text-decoration: none;
}

#main .intro_link a:visited {
  color: #000064;
  text-decoration: none;
}

#main .intro_link a:hover {
  color: #000064;
  text-decoration: none;
}

#main .intro_link a:active {
  color: #000064;
  text-decoration: none;
}

#main .intro_link .intro_link_arrow {
  margin-right: 10px;
}

/* go to current page　ボタンの制御 */
#go_to_page {
  z-index: 200;
  position: fixed;
  top: 85%;
  margin-left: 600px;
}

#prev_button {
  z-index: 300;
  position: fixed;
  top: 45%;
  margin-left: 20px;
  float: left;
}

#next_button {
  z-index: 300;
  position: fixed;
  top: 45%;
  margin-left: 910px;
  float: right;
}

#prev_button_over {
  z-index: 350;
  position: fixed;
  top: 45%;
  margin-left: 20px;
  float: left;
}

#next_button_over {
  z-index: 350;
  position: fixed;
  top: 45%;
  margin-left: 910px;
  float: right;
}

#prev_button_gray {
  z-index: 400;
  position: fixed;
  top: 45%;
  margin-left: 20px;
  float: left;
}

#next_button_gray {
  z-index: 400;
  position: fixed;
  top: 45%;
  margin-left: 910px;
  float: right;
}

/* フッターのスタイル制御 */
#footer {
  background-color: #000050;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

/* 分からないボタンの配置 */
.unclear {
  margin-left: 15px;
}

/* 横並びにする */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

/* clearfix */
.clearfix {
  clear: both;
}

/* 初期状態非表示 */
.hidden {
  display: none;
}
