/* リセットCSS　特に気にしなくてよい */
/*
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing=0' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全てのフォントを指定 */
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
	font-family: 'Roboto', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Meiryo', sans-serif;
	font-size: 16px;
}

/* サイト全体の大きさや配置を決める */
#container{
	width: 960px;
	margin: 0 auto;
}

/* ヘッダーのスタイル制御 */
#header{
	background-color: rgb(0,0,80);
	a:link { color:rgb(255,255,255); text-decoration:none }
	a:visited { color:rgb(255,255,255); text-decoration:none }
	a:hover { color:rgb(255,255,255); text-decoration:none }
	a:active { color:rgb(255,255,255); text-decoration:none }

	#header_title{
		font-weight: bold;
		color: rgb(255,255,255);
	}

}

/* メインコンテンツのスタイル制御 */
#main{
	/* スライドの背景 */
	.section {
		background-image: url(../images/bg.png);
		background-size: cover;
	}

	/* スライドのスタイル制御 */
	.panel {
		background-color: rgba(255,255,255,0.8);
		height: 500px;
		width: 740px;
		padding: 30px;
		margin: 0 auto;
		box-shadow: 0 0 25px rgba(0,0,100,0.5);
		overflow-y: scroll;
	}

	/* 問題一つをくくる */
	.box{
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		padding: 20px;
		background-color: rgba(0,0,100,0.1);
		margin-bottom: 30px;
		box-shadow: 10px 10px 10px rgba(0,0,50,0.2);
	}

	/* タイトルのスタイルを指定 */
	.Title{
		font-size: 20px;
		margin-bottom:20px;
		font-weight: bold;
	}

	/* 問題の中身(コンテンツ)の配置 */
	.contents{
		margin-left: 20px;
		margin-bottom: 20px;
		font-size: 17px;

		/* 複数選択肢タイトル */
		.choices_title{
				margin-top:  35px;
		}

		.choices_all{
			margin-left: 20px;

			.question_button{
				width: 120px;
			}
		}

		.graph{
			margin-right: 20px;

			img{
				margin-top: 5px;
			}
		}
	}

	/* 式の余白 */
	.formula{
		margin-left: 40px;
	}

	/* 送信ボタンが関係するものの配置 */
	.form{
		margin-left: 20px;

		.selectbox{
			margin-bottom: 20px;

			.graph_buttom{
				margin-bottom: 30px;
			}

			.select_button{
				margin-left: 20px;
			}
		}

		.button_graph{
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	/* 選択肢タイトルのスタイル指定 */
	.choices_title{
		margin-bottom: 15px;
	}

	/* ドロップダウンリストのスタイル指定 */
	select{
		margin-right: 30px;
		font-size: 16px;
		padding: 3px;
	}

	/* 入力フォームのスタイル指定 */
	input[type="text"]{
		width: 40px;
		padding: 5px;
		margin-right: 20px;
	}

	/* ボタンのスタイル制御 */
	.button{
		margin: 0 20px 10px 0;
		padding: 2px 5px;
		font-size: 16px;
		font-weight: 500;
		color: rgb(50,50,50);
		border: outset;
		border-radius: 6px;
		background: -webkit-gradient(linear, left top, left bottom, from(rgb(200, 240, 240)), to(rgb(160, 200, 200)));
	}

	/* 問題外タイトル */
	.intro_title{
		margin: 30px 0 0 20px;
		font-size: 40px;
	}

	/* 問題外文章 */
	.intro_sentence{
		margin: 100px 0 0 80px;
		font-size: 25px;
	}

	/* 最後のねぎらい */
	.intro_final{
		margin: 150px 0 0 80px;
		font-size: 50px;
	}

	/* 問題外ボタン */
	.intro_button{
		margin: 40px 0 0 90px;
		.intro_Button{
			font-size: 30px;
		}
	}

	/* 問題選択ページへ */
	.intro_link{
		a:link { color:rgb(0,0,100); text-decoration:none }
		a:visited { color:rgb(0,0,100); text-decoration:none }
		a:hover { color:rgb(0,0,100); text-decoration:none }
		a:active { color:rgb(0,0,100); text-decoration:none }

		margin: 100px 0 0 180px;
		font-size: 35px;
		font-weight: bold;

		.intro_link_arrow{
			margin-right: 10px;
		}
	}
}

/* go to current page　ボタンの制御 */
#go_to_page{
	z-index: 200;
	position: fixed;
	top: 85%;
	margin-left: 600px;
}

#prev_button{
	z-index: 300;
	position: fixed;
	top: 45%;
	margin-left: 20px;
	float: left;
}

#next_button{
	z-index: 300;
	position: fixed;
	top: 45%;
	margin-left: 910px;
	float: right;
}

#prev_button_over{
	z-index: 350;
	position: fixed;
	top: 45%;
	margin-left: 20px;
	float: left;
}

#next_button_over{
	z-index: 350;
	position: fixed;
	top: 45%;
	margin-left: 910px;
	float: right;
}

#prev_button_gray{
	z-index: 400;
	position: fixed;
	top: 45%;
	margin-left: 20px;
	float: left;
}

#next_button_gray{
	z-index: 400;
	position: fixed;
	top: 45%;
	margin-left: 910px;
	float: right;
}

/* フッターのスタイル制御 */
#footer{
	background-color: rgb(0,0,80);
	color: rgb(255,255,255);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0;
}

/* 分からないボタンの配置 */
.unclear{
	margin-left: 15px;
}

/* 横並びにする */
.floatleft{
	float: left;
}
.floatright{
	float: right;
}

/* clearfix */
.clearfix{
	clear: both;
}

/* 初期状態非表示 */
.hidden{
	display: none;
}
