#fixed #fixed_header {
  z-index: 20;
  top: 0;
  position: fixed;
  margin: 10px 30px;
}

#fixed #fixed_footer {
  z-index: 20;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

.fixed_header_button {
  width: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin-right: 30px;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clearfix {
  clear: both;
}

* {
  color: white;
}

* a:link {
  color: white;
  text-decoration: none;
}

* a:visited {
  color: white;
  text-decoration: none;
}

* a:hover {
  color: white;
  text-decoration: none;
}

* a:active {
  color: white;
  text-decoration: none;
}

#fullpage {
  z-index: 10;
}

#fullpage .page_width {
  width: 960px;
  margin: 0 auto;
}

#fullpage #top {
  background-color: #00001e;
}

#fullpage #top #top_margin {
  margin-top: 70px;
}

#fullpage #top #top_title {
  font-size: 50px;
  margin-bottom: 40px;
}

#fullpage #top #top_left {
  float: left;
  width: 600px;
}

#fullpage #top #top_left #top_intro {
  margin-bottom: 20px;
  font-size: 20px;
}

#fullpage #top #top_left #top_GoToNext_HowToUse {
  margin-left: 50px;
}

#fullpage #top #top_left #top_GoTo2015 {
  width: 280px;
  margin: 30px auto 0;
}

#fullpage #top #top_right {
  float: right;
  width: 310px;
  margin-bottom: 50px;
}

#fullpage #question {
  background-color: #00001e;
}

#fullpage #question_select #question_select_intro {
  font-size: 30px;
  margin-bottom: 100px;
}

#fullpage #question_select .question_select_intro_sentence {
  margin-bottom: 30px;
}

#fullpage #question_select #question_select_list {
  font-size: 31px;
  margin-bottom: 300px;
}

#fullpage #question_select #question_select_list #question1 {
  margin-right: 47px;
}

#fullpage #question_select #question_select_list #question2 {
  margin-right: 47px;
}

#fullpage #HowToUse {
  background-color: #00001e;
}

#fullpage #HowToUse #HowToUse_height {
  padding-top: 40px;
}

#fullpage #HowToUse .use_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 4px 4px 2px #aaa;
}

#fullpage #HowToUse .use_contents {
  margin-left: 30px;
}

#fullpage #HowToUse .Using {
  margin-bottom: 40px;
}

#fullpage #HowToUse #use_style {
  margin-bottom: 25px;
}

#fullpage #HowToUse #use_style .use_top_title_sub {
  font-size: 18px;
}

#fullpage #HowToUse #use_style #use_radio {
  width: 450px;
  float: left;
}

#fullpage #HowToUse #use_style #use_radio .use_top_title_sub {
  width: 110px;
  margin-left: 10px;
}

#fullpage #HowToUse #use_style #use_radio .use_top_sentence {
  width: 310px;
}

#fullpage #HowToUse #use_style #use_checkbox {
  width: 490px;
  float: right;
}

#fullpage #HowToUse #use_style #use_checkbox .use_top_title_sub {
  width: 140px;
}

#fullpage #HowToUse #use_style #use_checkbox .use_top_sentence {
  width: 340px;
}

#fullpage #HowToUse #use_style #use_pulldown {
  width: 450px;
  float: left;
}

#fullpage #HowToUse #use_style #use_pulldown .use_top_title_sub {
  width: 110px;
  margin-left: 10px;
}

#fullpage #HowToUse #use_style #use_pulldown .use_top_sentence {
  width: 310px;
}

#fullpage #HowToUse #use_style #use_textbox {
  width: 490px;
  float: right;
}

#fullpage #HowToUse #use_style #use_textbox .use_top_title_sub {
  width: 140px;
}

#fullpage #HowToUse #use_style #use_textbox .use_top_sentence {
  width: 340px;
}

#fullpage #HowToUse #use_subintro #use_subintro_gotopage {
  width: 500px;
}

#fullpage #HowToUse #use_subintro #use_subintro_gotopage #use_subintro_gotopage_img {
  margin-top: 8px;
  width: 165px;
}

#fullpage #HowToUse #use_subintro #use_subintro_gotopage #use_subintro_gotopage_text {
  width: 330px;
}

#fullpage #HowToUse #use_subintro #use_subintro_TF {
  width: 400px;
}

#fullpage #HowToUse #HowToUse_GoTo_question_select {
  width: 90px;
  top: 95%;
  margin: 40px auto 0;
}
