@charset "UTF-8";
/* ヘッダー */
#header {
  position: fixed;
  width: 960px;
  z-index: 10;
}

#header #header_logo {
  margin-left: 330px;
}

#header #header_title {
  margin-left: 20px;
  font-size: 30px;
}

/* メインコンテンツ */
#main #check1 {
  /* チェック１の補足の配置 */
}

#main #check1 #check1_sub {
  /* チェック１　補足１ */
  /* チェック１　補足１の補足 */
  /* チェック１　補足２ */
  /* チェック１　補足２の補足 */
}

#main #check1 #check1_sub #check1_sub1 {
  width: 250px;
}

#main #check1 #check1_sub #check1_sub1_1 {
  width: 365px;
}

#main #check1 #check1_sub #check1_sub1_1 #check1_sub1_1_sentence {
  margin: 10px 0 20px 20px;
}

#main #check1 #check1_sub #check1_sub1_1 #check1_sub1_1_button_submit {
  margin: 3px 0 20px 40px;
}

#main #check1 #check1_sub #check1_sub1_1 #check1_sub1_1_image {
  margin: 0 0 10px 40px;
}

#main #check1 #check1_sub #check1_sub2 {
  width: 250px;
}

#main #check1 #check1_sub #check1_sub2_1 {
  width: 365px;
}

#main #check2_1 #check2_1_1_main #check2_1_1_main_choices #choices_c {
  height: 44px;
  padding-top: 2px;
}

#main #check2_1 #check2_1_1_main #check2_1_1_main_choices #choices_d {
  height: 44px;
  padding-top: 12px;
}

#main #check2_1 #check2_1_2_main #check2_1_2_main_choices #choices_b {
  height: 46px;
  padding-top: 1px;
}

#main #check2_1 #check2_1_2_main #check2_1_2_main_choices #choices_c {
  height: 46px;
  padding-top: 13px;
}

#main #check2_1 #check2_1_2_sub #check2_1_2_sub1 {
  width: 300px;
}

#main #check2_1 #check2_1_2_sub #check2_1_2_sub2 {
  width: 310px;
}

#main #check3_1_main #check3_1_main_button_graph3 {
  margin-top: 10px;
}

#main #question1 #question1_main_choices #question1_main_choices1 {
  height: 28px;
  padding-top: 8px;
}

#main #question1 #question1_main_choices #question1_main_choices2 {
  height: 28px;
  padding-top: 8px;
}

#main #question1 #question1_main_choices #question1_main_choices3 {
  height: 28px;
  padding-top: 8px;
}

#main #question1 #question1_main_choices #question1_main_choices5 {
  height: 28px;
  padding-top: 8px;
}

#main #question1 #question1_main_choices #question1_main_choices6 {
  height: 39px;
  padding-top: 2px;
}

#main #question1 #question1_main_choices #question1_main_choices7 {
  height: 31px;
  padding-top: 11px;
}

#main #question1 #question1_main_choices #question1_main_choices10 {
  height: 31px;
  padding-top: 11px;
}

#main #question1 #question1_main_select #question1_main_submit {
  margin-left: 120px;
}

#main #question2 #question2_main_choices #question2_main_choices5 {
  height: 31px;
  padding-top: 11px;
}

#main #question2 #question2_main_choices #question2_main_choices6 {
  height: 31px;
  padding-top: 11px;
}

/* フッター */
#footer {
  bottom: 0;
  z-index: 14;
  position: fixed;
  width: 960px;
}
