@charset "UTF-8";
/* ヘッダー */
#header {
  position: fixed;
  width: 960px;
  z-index: 10;
}

#header #header_logo {
  margin-left: 330px;
}

#header #header_title {
  margin-left: 20px;
  font-size: 30px;
}

/* メインコンテンツ */
#main #check1 #check1_sub #check1_sub_select ul li {
  margin-bottom: 30px;
}

#main #check2_1 #check2_1_sub1 {
  width: 350px;
}

#main #check2_1 #check2_1_sub2 {
  width: 300px;
}

#main #question1 #question1_main #question1_main_formula {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices1 {
  margin-left: 20px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices2 {
  padding-top: 2px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices3 {
  padding-top: 1px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices4 {
  padding-top: 2px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices6 {
  margin-left: 20px;
  height: 44px;
  padding-top: 12px;
  margin-bottom: 0;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices7 {
  margin-bottom: 0;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices8 {
  height: 44px;
  padding-top: 12px;
  margin-bottom: 0;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices9 {
  height: 44px;
  padding-top: 12px;
  margin-bottom: 0;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices10 {
  margin-bottom: 0;
}

#main #question1 #question1_main #question1_main_submit {
  margin-left: 100px;
}

#main #question2 #question2_main_formula {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#main #question2 #question2_main_choices #question2_main_choices1 {
  height: 44px;
  padding-top: 12px;
  margin-left: 20px;
}

#main #question2 #question2_main_choices #question2_main_choices4 {
  height: 44px;
  padding-top: 12px;
}

/* フッター */
#footer {
  bottom: 0;
  z-index: 14;
  position: fixed;
  width: 960px;
}
