@charset "UTF-8";
/* ヘッダー */
#header {
  position: fixed;
  width: 960px;
  z-index: 10;
}

#header #header_logo {
  margin-left: 330px;
}

#header #header_title {
  margin-left: 18px;
  font-size: 30px;
}

/* メインコンテンツ */
#main #check1 #check1_sub #check1_sub_sentence2 {
  line-height: 40px;
}

#main #check3_1 #check3_1_sub #check3_1_sub1 #check3_1_sub1_formula1 {
  margin-bottom: 20px;
}

#main #check3_1 #check3_1_sub #check3_1_sub1 #check3_1_sub1_formula2 {
  margin-bottom: 20px;
}

#main #check3_1 #check3_1_sub #check3_1_sub2 #check3_1_sub2_formula1 {
  margin-bottom: 15px;
}

#main #check3_1 #check3_1_sub #check3_1_sub2 #check3_1_sub2_sentence2 {
  margin-bottom: 15px;
}

#main #check3_2 #check3_2_sub #check3_2_sub1 #check3_2_sub1_formula1 {
  margin-bottom: 10px;
}

#main #check3_2 #check3_2_sub #check3_2_sub1 #check3_2_sub1_formula2 {
  margin-bottom: 15px;
}

#main #check3_2 #check3_2_sub #check3_2_sub2 #check3_2_sub2_formula1 {
  margin-bottom: 20px;
}

#main #check3_2 #check3_2_sub #check3_2_sub2 #check3_2_sub2_sentence2 {
  margin-left: 40px;
  margin-bottom: 10px;
}

#main #check3_2 #check3_2_sub #check3_2_sub2 #check3_2_sub2_sentence3 {
  margin-left: 40px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices_all .q1_button {
  width: 150px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices_all #question1_main_choices1 {
  height: 32px;
  padding-top: 9px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices_all #question1_main_choices2 {
  height: 33px;
  padding-top: 8px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices_all #question1_main_choices5 {
  height: 32px;
  padding-top: 11px;
}

#main #question1 #question1_main #question1_main_choices #question1_main_choices_all #question1_main_choices8 {
  height: 39px;
  padding-top: 2px;
}

#main #question2 #question2_main #question2_main_choices #question2_main_choices_all #question2_main_choices1 {
  height: 30px;
  padding-top: 10px;
}

#main #question2 #question2_main #question2_main_choices #question2_main_choices_all #question2_main_choices2 {
  height: 30px;
  padding-top: 10px;
}

#main #question2 #question2_main #question2_main_choices #question2_main_choices_all #question2_main_choices3 {
  height: 30px;
  padding-top: 10px;
}

#main #question2 #question2_main #question2_main_choices #question2_main_choices_all #question2_main_choices4 {
  height: 30px;
  padding-top: 10px;
}

#main #question2 #question2_main #question2_main_choices #question2_main_choices_all #question2_main_choices6 {
  height: 44px;
  padding-top: 6px;
}

#main #question2 #question2_main #question2_main_choices #question2_main_choices_all #question2_main_choices7 {
  height: 38px;
  width: 240px;
  padding-top: 13px;
}

/* フッター */
#footer {
  bottom: 0;
  z-index: 14;
  position: fixed;
  width: 960px;
}
