/* ヘッダー */
#header{
	position: fixed;
	width: 960px;
	z-index: 10;

	#header_logo{
		margin-left: 330px;
	}

	#header_title{
		margin-left: 20px;
		font-size: 30px;
	}
}

/* メインコンテンツ */
#main{
	#check1{
		/* チェック１の補足の配置 */
		#check1_sub{
			/* チェック１　補足１ */
			#check1_sub1{
				width: 250px;
			}

			/* チェック１　補足１の補足 */
			#check1_sub1_1{
				width: 365px;

				#check1_sub1_1_sentence{
					margin: 10px 0 20px 20px;
				}

				#check1_sub1_1_button_submit{
					margin: 3px 0 20px 40px;
				}

				#check1_sub1_1_image{
					margin: 0 0 10px 40px;
				}
			}

			/* チェック１　補足２ */
			#check1_sub2{
				width: 250px;
			}

			/* チェック１　補足２の補足 */
			#check1_sub2_1{
				width: 365px;

			}
		}

	}

	#check2_1{
		#check2_1_1_main{
			#check2_1_1_main_choices{
				#choices_c{
					height: 44px;
					padding-top: 2px;
				}

				#choices_d{
					height: 44px;
					padding-top: 12px;
				}
			}
		}

		#check2_1_2_main{
			#check2_1_2_main_choices{
				#choices_b{
					height: 46px;
					padding-top: 1px;
				}

				#choices_c{
					height: 46px;
					padding-top: 13px;
				}
			}
		}

		#check2_1_2_sub{
			#check2_1_2_sub1{
				width: 300px;
			}

			#check2_1_2_sub2{
				width: 310px;
			}
		}
	}

	#check3_1_main{
		#check3_1_main_button_graph3{
			margin-top: 10px;
		}
	}

	#question1{
		#question1_main_choices{
			#question1_main_choices1{
				height: 28px;
				padding-top: 8px;
			}

			#question1_main_choices2{
				height: 28px;
				padding-top: 8px;
			}

			#question1_main_choices3{
				height: 28px;
				padding-top: 8px;
			}

			#question1_main_choices5{
				height: 28px;
				padding-top: 8px;
			}

			#question1_main_choices6{
				height: 39px;
				padding-top: 2px;
			}

			#question1_main_choices7{
				height: 31px;
				padding-top: 11px;
			}

			#question1_main_choices10{
				height: 31px;
				padding-top: 11px;
			}
		}

		#question1_main_select{
			#question1_main_submit{
				margin-left: 120px;
			}
		}
	}

	#question2{
		#question2_main_choices{
			#question2_main_choices5{
				height: 31px;
				padding-top: 11px;
			}

			#question2_main_choices6{
				height: 31px;
				padding-top: 11px;
			}
		}
	}
}

/* フッター */
#footer{
	bottom: 0;
	z-index: 14;
	position: fixed;
	width: 960px;
}
