@charset "UTF-8";
/* ヘッダー */
#header #header_logo {
  margin-left: 50px;
}

#header #header_title {
  font-size: 60px;
  margin: 15px 0 0 80px;
}

#header #header_character {
  height: 88px;
  margin-left: 170px;
}

/* メインコンテンツ */
#main a:link {
  color: black;
  text-decoration: none;
}

#main a:visited {
  color: black;
  text-decoration: none;
}

#main a:hover {
  color: black;
  text-decoration: none;
}

#main a:active {
  color: black;
  text-decoration: none;
}

#main #select_sentence {
  margin: 30px;
  margin-bottom: 40px;
  font-size: 25px;
}

#main #question_select {
  height: auto;
  margin: 30px;
  font-size: 24px;
}

#main #question_select #question_select_q1 {
  margin-right: 60px;
}

#main #question_select #question_select_q2 {
  margin-right: 60px;
}
