#header {
  height: 90px;
}

#header .h_detail {
  float: left;
}

#header .h_detail #logo {
  margin-left: 50px;
}

#header .h_detail #title {
  font-size: 65px;
  font-weight: bold;
  color: #1063a0;
  margin: 15px 0 0 80px;
}

#header .h_detail #limchan {
  height: 88px;
  margin-left: 170px;
}

#main {
  clear: both;
  width: 800px;
  margin: 0 auto;
}

#main #about {
  margin-top: 70px;
}

#main #about #about_t {
  font-size: 30px;
  background-color: #1063a0;
  color: #fff;
  padding: 7px 0 7px 15px;
  border: solid 3px #1063a0;
}

#main #about #about_p {
  border: solid 3px #1063a0;
  padding: 10px 0 10px 25px;
}

#main #about #about_p p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
}

#main #about #about_p #about_i img {
  height: 40px;
  float: left;
  margin-left: 14px;
}

#main #about #about_p #about_i p {
  float: left;
  margin: 10px 0 10px 4px;
  font-size: 24px;
  color: #1063a0;
}

#main #info {
  margin-top: 70px;
}

#main #info #info_t {
  font-size: 30px;
  background-color: #1063a0;
  color: #fff;
  padding: 7px 0 7px 15px;
  border: solid 3px #1063a0;
}

#main #info #info_t #info_ti {
  float: left;
  width: 685px;
}

#main #info #info_t #info_t_de {
  float: left;
}

#main #info #info_t #info_t_de #info_t_i {
  float: left;
  margin-right: 10px;
}

#main #info #info_t #info_t_de #info_t_i img {
  height: 25px;
}

#main #info #info_t #info_t_de #info_t_p {
  float: left;
  font-size: 20px;
  margin-top: 5px;
}

#main #info #info_t #info_t_de #info_t_p a:link {
  color: #fff;
  text-decoration: none;
}

#main #info #info_t #info_t_de #info_t_p a:visited {
  color: #fff;
  text-decoration: none;
}

#main #info #info_t #info_t_de #info_t_p a:hover {
  color: #fff;
  text-decoration: none;
}

#main #info #info_t #info_t_de #info_t_p a:active {
  color: #fff;
  text-decoration: none;
}

#main #info #info_m {
  border: solid 3px #1063a0;
  padding: 10px 10px 20px;
}

#main #info #info_m .info_d {
  padding-top: 10px;
  margin-left: 20px;
}

#main #info #info_m .info_d .info_du {
  float: left;
  width: 630px;
  margin-top: 2px;
  font-size: 16px;
}

#main #info #info_m .info_d .info_du a:link {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_du a:visited {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_du a:hover {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_du a:active {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_de {
  float: left;
}

#main #info #info_m .info_d .info_de .info_de_i {
  float: left;
  margin-right: 5px;
}

#main #info #info_m .info_d .info_de .info_de_i img {
  height: 20px;
}

#main #info #info_m .info_d .info_de .info_de_p {
  float: left;
  margin-top: 2px;
}

#main #info #info_m .info_d .info_de .info_de_p a:link {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_de .info_de_p a:visited {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_de .info_de_p a:hover {
  color: #000;
  text-decoration: none;
}

#main #info #info_m .info_d .info_de .info_de_p a:active {
  color: #000;
  text-decoration: none;
}

#main .clearfix {
  clear: both;
}
