#header{

	height: 90px;


	.h_detail{
		float: left;

		#logo{
			margin-left: 50px;
		}

		#title{
			font-size: 65px;
			font-weight: bold;
			color: #1063a0;
			margin: 15px 0 0 80px;
		}

		#limchan{
			height:88px;
			margin-left: 170px;
		}
	}
}


#main{
	clear: both;
	width: 800px;
	margin: 0 auto;

	#about{
		margin-top: 70px;

		#about_t{
			font-size: 30px;
			background-color : #1063a0;
			color: #fff;
			padding: 7px 0 7px 15px;
			border: solid 3px #1063a0;
		}

		#about_p{	
			border: solid 3px #1063a0;
			padding: 10px 0 10px 25px;

			p{
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 18px;
			}

			#about_i{

				img{
					height: 40px;
					float: left;
					margin-left: 14px;
				}

				p{
					float: left;
					margin:10px 0 10px 4px;
					font-size: 24px;
					color: #1063a0;
				}
			}

		}
	}


	#info{
		margin-top: 70px;

		#info_t{
			font-size: 30px;
			background-color : #1063a0;
			color: #fff;
			padding: 7px 0 7px 15px;
			border: solid 3px #1063a0;


			#info_ti{
				float: left;
				width: 685px;
			}

			#info_t_de{
				float: left;


				#info_t_i{
					float: left;
					margin-right: 10px;
					img{
						height: 25px;
					}
				}
				#info_t_p{
					float: left;
					font-size: 20px;
					margin-top: 5px;
					a:link { color:#fff; text-decoration:none }
					a:visited { color:#fff; text-decoration:none }
					a:hover { color:#fff; text-decoration:none }
					a:active { color:#fff; text-decoration:none }

				}
			}
		}
		

		#info_m{
			border: solid 3px #1063a0;
			padding: 10px 10px 20px; 

			.info_d{
				padding-top: 10px;
				margin-left:20px; 

				.info_du{
					float: left;
					width: 630px;			
					margin-top: 2px;
					font-size: 16px;
					a:link { color:#000; text-decoration:none }
					a:visited { color:#000; text-decoration:none }
					a:hover { color:#000; text-decoration:none }
					a:active { color:#000; text-decoration:none }


				}

				.info_de{
					float: left;

					.info_de_i{
						float: left;
						margin-right: 5px;
						img{
							height: 20px;
						}
					}
					.info_de_p{
						float: left;
						margin-top: 2px;
						a:link { color:#000; text-decoration:none }
						a:visited { color:#000; text-decoration:none }
						a:hover { color:#000; text-decoration:none }
						a:active { color:#000; text-decoration:none }

					}
				}
			}
		}

	}


	.clearfix{
		clear: both;
	}

}

