@charset "UTF-8";
* {
  font-family: Meiryo, 'メイリオ';
}

#container {
  width: 600px;
  height: 500px;
  background-color: #eee;
  margin: 0 auto;
}

#container #check1 {
  width: 300px;
  height: 200px;
  background-color: #ddd;
}

#container #check1 #check1_title {
  font-weight: bold;
  font-size: 20px;
}

#container #check1 #check1_contents #check1_contents_sentence {
  margin-left: 15px;
}

#container #check1 #check1_button {
  /*
			background: #aaa;
			padding: 10px;

			#check1_button_left{
				width: 100px;
				height: 30px;
				background-color: rgb(255,0,0);
				float: left;
			}

			#check1_button_right{
				width: 100px;
				height: 30px;
				background-color: rgb(0,255,0);
				float: left;
			}
*/
  /*
			#check1_button_left{
				background-color: red;
				border: none;
			}

			#check1_button_right{
				background-color: green;
				border: none;
			}
			*/
}

.clearfix {
  clear: both;
}
